--extra-index-url https://download.pytorch.org/whl/cpu

ultralytics>=8.0.0
opencv-python-headless>=4.6.0
numpy<2.0.0
pandas>=1.3.0
scikit-learn>=0.24.0
joblib>=1.0.0
PyYAML>=5.4
tqdm>=4.60.0
openpyxl>=3.0.0
Flask>=2.0.0
Werkzeug>=2.0.0
Flask-Cors>=3.0.10

# Khóa chặt phiên bản torch và torchvision ở bản CPU
torch==2.1.2+cpu
torchvision==0.16.2+cpu